django==4.2.1
python-dotenv==1.0.0
django-environ==0.10.0
openai==0.27.7
django-bootstrap5==23.1
requests
beautifulsoup4
channels[daphne]~=4.0.0
gTTS==2.3.2
setuptools>=3.3
cryptography>=39.0.1
botocore>=1.12.179
pytest>=3.2.3
pytest-cov>=2.5.1
